.wrapper {
    background-color: #fb2e86;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    padding: 14px 40px;
    border-radius: 3px;
    width: 100%;
}
