.image {
    padding-top: 127%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #151875;
}

.price {
    margin-top: 15px;
    font-size: 13px;
    line-height: 15px;
    color: #151875;
}
