.product-wrapper {
    padding-top: 121px;
    padding-bottom: 131px;
}

.more-info-wrapper {
    background-color: #f9f8fe;
    padding: 111px 0;
}

.menu {
    margin-bottom: 61px;

    .item {
        font-size: 24px;
        line-height: 28px;
        color: #151875;
        margin-right: 85px;
        cursor: pointer;
    }

    .item.active {
        text-decoration: underline;
    }
}

.related-products {
    padding-top: 126px;

    .title {
        color: #101750;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 47px;
    }
}

.product-video {
    background-color: #000;
    display: flex;
    justify-content: center;

    video {
        max-height: 600px;
    }
}
