.wrapper {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}

.wrapper:hover {
    .image {
        background-color: #f7f7f7;
    }

    .info {
        background-color: #2f1ac4;
        transition: 200ms;
    }

    .name,
    .code,
    .price {
        color: #fff;
    }

    .colors .item:nth-child(3) {
        background-color: #ffeac1;
    }

    .buttons-list {
        opacity: 1;
        visibility: visible;
    }

    .view-detail-btn {
        opacity: 1;
        visibility: visible;
    }
}

.image {
    position: relative;
    background-color: #f6f7fb;
    padding-top: 87%;
    background-repeat: no-repeat;
    background-position: center;
}

.buttons-list {
    position: absolute;
    top: 11px;
    left: 11px;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
    z-index: 1;
}

.icon-button {
    background-color: transparent;
    margin-right: 8px;

    &:hover {
        background: #eeeffb;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);

        svg {
            path {
                fill: #2f1ac4;
            }
        }
    }

    svg {
        path {
            fill: #1389ff;
        }
    }
}

.info {
    padding-top: 15px;
    padding-bottom: 17px;
}

.name {
    color: #fb2e86;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: 200ms;
}

.colors {
    display: flex;
    justify-content: center;

    .item {
        width: 14px;
        height: 4px;
        border-radius: 10px;
        margin: 0 5px;
        transition: 200ms;
    }

    .item:nth-child(1) {
        background-color: #05e6b7;
    }

    .item:nth-child(2) {
        background-color: #f701a8;
    }

    .item:nth-child(3) {
        background-color: #00009d;
    }
}

.code,
.price {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #151875;
    transition: 200ms;
}

.view-detail-btn {
    position: absolute;
    left: 50%;
    bottom: 9px;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
    background: #08d15f;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 94px;
    height: 29px;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
}
